<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".ui.account.LightDarkApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/droppy_logo_green"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DroppyApp"
        tools:targetApi="31">
        <activity
            android:name=".MyAccountActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DroppyApp.NoActionBar"/>
        <activity
            android:name=".MyOutfitsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DroppyApp.NoActionBar"/>
        <activity
            android:name=".MyBuysActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DroppyApp.NoActionBar"/>
        <activity
            android:name=".MyClothesActivity"
            android:exported="false"
            android:label="@string/title_activity_my_clothes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.DroppyApp.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.DroppyApp.NoActionBar"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.DroppyApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:label="@string/app_name" />
    </application>

</manifest>